
<div class="menu"> <span></span> </div>
<nav id="nav">
<ul class="main">
	<% if user_signed_in? %>

		<li>
			<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
		</li>
		<li>
			<%= link_to 'acceuil', home_index_path %>
		</li>
		<li>
			<%= link_to 'Edit', edit_user_registration_path %>
		</li>
		<li>
		<%= link_to 'places', places_path %>
		</li>
	<%else%>

	
		<li>
			<%= link_to 'Acceuil', home_index_path %>
		</li>
		<li>
		    <%= link_to 'Sign in/Sign Up', new_user_session_path %>
		</li>   
	<% end %>
</ul>
</nav>
<div class="overlay"></div>

<script>
$('.menu, .overlay').click(function () {
	$('.menu').toggleClass('clicked');
	
	$('#nav').toggleClass('show');
	
});
</script>